
//Mixins

@mixin banner{
    width: 100%;
    position: relative;
    color:white;
    .banner-content{
        position: absolute;
        top:50px;
        width:100%;
    }
    img{
        width:100%;
    }
    span{
        font-size: $bannerHeading;
        display:block;
        text-transform: uppercase;
        font-weight: bold;
    }
    span.title{
        font-weight:normal;
        margin-bottom:35px;
    }
}

@mixin clearfix {
    &:after{
        content:"";
        display:block;
        clear:both;
    }  
}

@mixin grid($cols, $mgn){
    float: left;
    width: ((100% - (($cols - 1) * $mgn)) / $cols );
    margin-right: $mgn;
    margin-bottom: $mgn;
    &:nth-child(#{$cols}n){
      margin-right: 0;
    }
  }