//exaxmple

.red {
    color:red;

    a {
        color:blue;

        span {
            color:pink;
        }
    }
}

//Variables
$deepBlue: #032f3e;
$sectionHeadding: 24px;

#main-nav{
    background: $deepBlue;
}

section h1{
    font-size: $sectionHeadding;
    color:$deepBlue;
}